@font-face {
	  font-family: IstokWeb; /* имя шрифта для CSS правил */
	  src: local("Istok Web"), /* проверяем наличие шрифта в ОС пользователя */
	   url(/fonts/IstokWeb-Regular.eot) format('embedded-opentype'),
	   url(/fonts/IstokWeb-Regular.ttf) format('truetype'); /* если шрифт не установлен, тогда загружаем его по указанному пути */
	   font-style:normal;
	   font-weight:normal;
}

@font-face {
	  font-family: IstokWeb;  
	  src: local("Istok Web Bold"),  
	   url(/fonts/IstokWeb-Bold.eot) format('embedded-opentype'),
	   url(/fonts/IstokWeb-Bold.ttf) format('truetype');  
	   font-style:normal;
	   font-weight:bold;
}

@font-face {
	  font-family: IstokWeb;  
	  src: local("Istok Web Italic"),
	  url(/fonts/IstokWeb-Italic.eot) format('embedded-opentype'),  
	   url(/fonts/IstokWeb-Italic.ttf) format('truetype'); 
	   font-style:italic;
	   font-weight:normal;
}

@font-face {
	  font-family: IstokWeb;  
	  src: local("Istok Web BoldItalic"), 
	  url(/fonts/IstokWeb-BoldItalic.eot) format('embedded-opentype'), 
	   url(/fonts/IstokWeb-BoldItalic.ttf) format('truetype');  
	   font-style:italic;
	   font-weight:bold;
}


body{
	 
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
	
}
body{
	 
}
body, p, td, input, label, textarea, select, option{
	font-family:IstokWeb, Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#636363;
}
a{color:#1160a5; text-decoration:none;}
a:hover{text-decoration:none;}
.clr{
	clear:both;
}

p{margin: 0px 0px 0.5em 0px;}

label img{vertical-align:middle; padding:0 2px;}

html, body, #gydex_wrapper {
    height: 100%;
}


.indent{
	margin-left:30px;
}

/*
input[type=button], input[type=submit], input[type=reset]{
	border:1px solid #636363;
	background-color:#636363;
	color:white;
		
}
*/
 input[type=button],  input[type=submit],  input[type=reset], .ui-widget-content input[type=button] , .ui-widget-content input[type=submit] , .ui-widget-content  input[type=reset]{
	background-color:#62a2d4 ;
	color:white ;
	border:1px solid #62a2d4;
	padding:2px 10px;
	font-weight:normal;
	
}
 input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, .ui-widget-content input[type=button]:hover , .ui-widget-content input[type=submit]:hover , .ui-widget-content  input[type=reset]:hover{
	background-color:#e9510f ;
	border:1px solid #e9510f;
}

 

 input[type=submit]:disabled,   input[type=reset]:disabled,  input[type=button]:disabled, .ui-widget-content input[type=button]:disabled , .ui-widget-content input[type=submit]:disabled , .ui-widget-content  input[type=reset]:disabled{
	background-color:#c2c2c2 !important;
	border-color:#c2c2c2 !important;
}


.gydex_imp_button{
	font-size:18px;
	background-color:#e9510f !important;
	border:1px solid #e9510f !important;
}



.wrong{color:red;}
.treelevel{margin-left:30px;}


#gydex_wrapper{
	 
	width:auto;
	 
	/*border:1px solid blue;*/
}

.gydex_text p, #dialog_start p{
	text-align:justify;
	text-indent:20px;
	color:#636363;
}
#dialog_start h2{
	color:#636363;
}

.gydex_text ul, #dialog_start ul{ margin-top:20px; margin-left:0px; padding-left:0px;}

.gydex_text ul li, #dialog_start ul li{
	text-align:justify;
	color:#636363;
	list-style:none;
	margin-bottom:5px;
	background-image:url(/img/newdis/li_arrow.png);
	background-position:left 5px;
	background-repeat:no-repeat;
	padding-top:7px; padding-left:35px;
}

/****************************************************************************************************/
/*header params*/
#gydex_header{
	 
	min-height:100px;
	border-bottom:3px solid #0f5fa6;
}
#gydex_header #gydex_logo{
	margin:10px 0px 0px 20px;
	float:left;
}
#gydex_header #gydex_menu{
	float:left;
	margin-top:28px;
}
#gydex_header #gydex_login{
	margin-top:15px;
	margin-right:10px;
	float:right;
}

.gydex_user{
	color:#1160a5;
	font-size:16px;
	display:inline-block;
	padding:5px 10px 0px 25px;
	background-image:url(/img/newdis/user.png);
	background-position:left 3px;
	background-repeat:no-repeat;
 
}
.gydex_signout{
	display:inline-block;
	color:#62a1d4;
	padding-left:15px;
	background-image:url(../img/newdis/v-line.png);
	background-position:left center;
	background-repeat:no-repeat;
	
}
.gydex_login{
	color:#62a1d4;
	padding-left:25px;
}



/**********************************************************************************************/
/* footer params **/
#gydex_footer{
	 
	color:white;
	font-size:12px;
	background-color:#63a2d5;
	background-image:url(/img/newdis/f-f.png);
	background-position:left top;
	background-repeat:repeat-x;
	padding:30px 10px 20px 10px;
}
#gydex_footer a{
	color:white;
}
.gydex_footer_menu{
	float:left;
	 
}
#gydex_copyrights{
	float:right;
	text-align:right;	
}
.gydex_footer_menu a{
	display:inline-block;
	padding:0 15px 0 10px;
	background-image:url(/img/newdis/f-line.png);
	background-position:right center;
	background-repeat:no-repeat; 
	
}
.gydex_footer_menu a:first-child{
	padding-left:0px;
	 
}

.gydex_footer_menu a:last-child{
	padding-right:0px;	
		background:none;
}

/***************************************************************************************************/
/* main params */
#gydex_main_wrapper{
	
	overflow:visible;
	min-height:72%;
	height:auto;
	max-height:auto;
	
	min-width:740px;
	width:auto;
	 max-width:3600px; 
	 
}

#gydex_left_col{
	width:280px;
	/*border:1px solid red;*/
	
	float:left;	
}

/*left menu*/
#gydex_left_col ul{
	margin:0; padding:0;
}
#gydex_left_col ul li{
	list-style:none;
	display:inline;
}

#gydex_left_col > ul > li > a, #gydex_left_col > ul > li > a.closed{
	display:block;
	width:220px;
	font-size:18px;
	font-weight:bold;
	background-color:#398ece;
	color:white;	
	padding:20px 30px;
	margin-top:5px;
	background-image:url(/img/newdis/menu-l.png);
	background-repeat:no-repeat;
	background-position:220px 20px;	
}
#gydex_left_col > ul > li:first-child > a, #gydex_left_col > ul > li:first-child > a.closed{
	margin-top:0px;
}

#gydex_left_col > ul > li:nth-child(2n+1) > a{
	background-color:#398ece;	
}
#gydex_left_col > ul > li:nth-child(2n) > a{
	background-color:#65a7d9;	
}

#gydex_left_col > ul > li > a.opened{
	background-color:#e9510e;
	background-image:url(/img/newdis/menu-d.png);
	background-position:220px 25px;	
	margin-top:0px;
}


#gydex_left_col ul > li > ul{
	display:none;
}

#gydex_left_col > ul > li > a.opened +  ul{
	display:block;
	background-color:#fafafa;
	
	
}

#gydex_left_col > ul > li > a.opened +  ul li{
	list-style:none;
	margin:0px 30px 0px 20px;
	display:block;
	background-color:#fafafa;
	
}

#gydex_left_col > ul > li > a.opened +  ul li a{
	display:block;
	border-bottom:1px solid #ebebeb;
	color:#959595;
	font-size:14px;
	font-weight:bold;
	padding:6px 0px 6px 25px;
	background-image:url(/img/newdis/bul1.png);
	background-position:left 9px;
	background-repeat:no-repeat; 
	 
}
#gydex_left_col > ul > li > a.opened +  ul li a:hover, #gydex_left_col > ul > li > a.opened +  ul li a.active{
	color:#ea5012;	
	background-image:url(/img/newdis/bul2.png);
}
#gydex_left_col > ul > li > a.opened +  ul li:last-child{
	padding-bottom:20px;
	 
}


#gydex_main{
	margin-left:280px;

	min-width:720px;
	width:auto;
	max-width:1600px;

	padding-left: 25px;
	padding-bottom:25px;
	
	/*border:1px solid green;*/
	overflow:visible;
}


#gydex_context_wrapper{
	overflow:hidden;
	margin-bottom:10px;	
}
#gydex_context_wrapper #gydex_context_left{
	color:#e9500d;
	font-weight:bold;
	float:left;
	width:160px;	
	padding-top:15px;
}
#gydex_context_wrapper #gydex_context{
	margin-left:160px;
}
.gydex_context{
	display:inline;
}
.gydex_context a{
	display:block;
	float:left;
	min-width:135px;
	width:135px;
	max-width:285px;
	height:45px;
	
	padding:5px 5px 0px 10px;
	
	color:white;
	background-color:#143d69;
	font-weight:bold;
	margin-bottom:1px;
		
}



.gydex_context:nth-child(4n+1) a{
	background-color:#115fa7;	
	 	
}
.gydex_context:nth-child(4n+2) a{
	background-color:#398dcb;	
}
.gydex_context:nth-child(4n+3) a{
	background-color:#619fd2;	
}
.gydex_context:nth-child(4n+4) a{
	background-color:#80b0d7;
}

div.gydex_context:nth-child(4n+4)::after{
  /* clearfix */
  content: '';
  display: block;
  clear: both;
}




.gydex_context a:hover{
	background-color:#e9510e !important;
	text-decoration:none;	
}


#gydex_breadcrumbs, #gydex_breadcrumbs a{
	color: #105ea6;	
	margin-bottom:10px;
}

#gydex_content a{
/*	font-weight:bold;*/
	color:#1160a5;	
}


/*content definitions*/
table.gydex_table{
	width:100%;
	border-collapse:collapse;
	
}
table.gydex_table td, table.gydex_table th{
	padding:10px 10px;
	vertical-align:top;	
	
}
table.gydex_table tr{
	border-bottom:1px solid #ebebeb;	
}
table.gydex_table th{
	color:#636363;
	font-weight:bold;
	text-align:center;
}


/*buttons*/
.gydex_del, .gydex_up, .gydex_down{
	display:inline-block;
	width:24px; height:24px;
	background-position:left top;
	background-repeat:no-repeat;
}
.gydex_del{
	background-image:url(/img/newdis/delete.png);
}
.gydex_up{
	background-image:url(/img/newdis/up.png);
	
}
.gydex_up:hover{
	background-image:url(/img/newdis/down-up.png);
	
}
.gydex_down{
	background-image:url(/img/newdis/down.png);
}
.gydex_down:hover{
	background-image:url(/img/newdis/down-or.png);
}

.gydex_edit_lang, .gydex_edit_html{
	
	display:inline-block;
	width:25px; height:32px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url(/img/newdis/down.png);	
 
	padding-left:30px;
}
.gydex_edit_lang:hover{
	background-image:url(/img/newdis/down-or.png);
}

.gydex_edit{
	
	display:inline-block;
	width:25px; height:25px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url(/img/newdis/down.png);	
 
	 
}


.gydex_edit:hover{
	background-image:url(/img/newdis/down-or.png);
}

.gydex_edit_html{
	background:
		url(/img/newdis/html.png) right bottom no-repeat,
		url(/img/newdis/down.png) left top no-repeat;	
 
}
.gydex_edit_html:hover{
	background:
		url(/img/newdis/html.png) right bottom no-repeat,
		url(/img/newdis/down-or.png) left top no-repeat;	
}

a.gydex_link, a.gydex_link_link{
	color:#1160a5;
	font-weight:normal !important;
	display:inline-block;
	padding-right:15px;
	background:url(/img/newdis/right.png) right top no-repeat;
}
a.gydex_link_link{
	background-position:right 4px;	
}





/*форма авторизации*/
.pole_login{
	width: 320px; padding: 5px 5px 5px 5px; margin:10px 10px 10px 10px; position:absolute; top:30%; left:35%;  text-align:center; background-image:url(/img/key_48.jpg); background-position: 40px 60px; background-repeat:no-repeat;
}
.pole_login h1{
	font-size:20px;
}





/*стили для календаря*/
.alldiv{
	width:250px;
	border:1px solid #ebebeb;
	float:left;
	margin-bottom:20px;
	margin-right:20px;
	
}
.updiv{
	text-align : center;
	background-color:#f1f1f1;
	padding:15px 5px;
	color:#398ece; font-size:14px;
}
.updiv a{
	color:#c2c2c2 !important;
	font-weight:normal !important;
	font-size:12px !important;	
}
.updiv .next, .updiv .prev{
	display:block; float:right;
	width:18px; height:18px;
	
}
.updiv .prev{
	float:left;
}
.updiv .next{
	background-image:url(/img/newdis/calen-right.png);
	background-position:left top; background-repeat:no-repeat;
}
.updiv .next:hover{
	background-image:url(/img/newdis/calen-right-a.png);
}
.updiv .prev{
	background-image:url(/img/newdis/calen-left.png);
	background-position:left top; background-repeat:no-repeat;
}
.updiv .prev:hover{
	background-image:url(/img/newdis/calen-left-a.png);
}

.orddiv{
	font-size: 6pt;
}
.calen_table{
	width:250px;
	border-collapse:collapse;
}
.calen_tr{
	background-color : white;
}

.calen_td{
	background-color : white;
	padding:2px 2px;
}

.calen_td_holid{
	background-color :white;
	color: Red !important;
}

.calen_order{
	font-size:9px;
}

a.calen_a{
	color: #3399cc;
}

a.holid_a{
	color: red !important;

}
a.current_a{
	font-size: 16pt !important;
}




/*таблица прав*/
 
table.gydex_rights{
	 
	border:1px solid #ebebeb;
	border-collapse:collapse;	
}
table.gydex_rights td, table.gydex_rights th{
	border:1px solid #ebebeb;
	padding:5px 5px;
	min-width:150px;
	width:150px ;
	max-width:150px ;
	background-color:white;
	
}
 
	
	
	
	
	
/*верхнее меню внутри страницы*/
#gydex_main .top-menu {
  text-align: center;
  font-size: 4px;
  /*background-color: #105fa6;*/
  width: auto;
 
}
#gydex_main ul.top-menu {
	list-style:none;
	overflow:hidden;
}
#gydex_main ul.top-menu , #gydex_main ul.top-menu  li{
	margin: 0;
  padding: 0;
  border: 0;

}
 
#gydex_main .top-menu li {
 
  display:inline;
}
 
#gydex_main .top-menu li:hover {
 
}
#gydex_main .top-menu li a{
	color:inherit;
	text-decoration:none;
	
	 font-size: 14px;
  padding: 14px;
  display: block;
  float:left;
   
  
  width: 122px;
  max-width:250px;
  
  height: 20px;
  background-color: #398fcd;
  cursor: pointer;
  color: white;
  font-weight:bold;
  
   margin-bottom:1px;
  
}

#gydex_main .top-menu li:nth-child(4n+1) a{
	background-color:#115fa7;	
	 	
}
#gydex_main .top-menu li:nth-child(4n+2) a{
	background-color:#398dcb;	
}
#gydex_main .top-menu li:nth-child(4n+3) a{
	background-color:#619fd2;	
}
#gydex_main .top-menu li:nth-child(4n+4) a{
	background-color:#80b0d7;
}



#gydex_main .top-menu li a:hover{
	background-color: #e9510e;
}


#gydex_main .top-menu li.active a {
/*  background-color: white;
  color:#e9510f;*/
  background-color: #e9510e;
}


.details_col{
	overflow:auto;
	min-width:100px;
	width:auto;
	height:50px;	
}
.gydex_sort{
	white-space:nowrap;
	display:inline-block;
	
}

.gydex_sort_up, .gydex_sort_down{
	display:inline-block;
	width:13px; height:13px;
	background-position:left top;
	background-repeat:no-repeat;

}
 
.gydex_sort_up{
	background-image:url(/img/newdis/sort-up.png);
	
}
.gydex_sort_up:hover{
	background-position:left -13px	;
	
}
.gydex_sort_down{
	background-image:url(/img/newdis/sort-d.png);
}
.gydex_sort_down:hover{
	 background-position:left -13px	;
}
.gydex_sort_hover{
	background-position:left -13px	;
	
}
	
	
.gydex_delivery_navi{
	height:48px;
	background-color:#80b0d7;/* #398fcd;*/
	white-space:nowrap;
	overflow:hidden;
	min-width:950px;
}

.gydex_delivery_action, .gydex_delivery_action1{
	/*border:1px solid red;	*/
	font-weight:bold;
	min-width:70px;
	width:auto;
	text-align:center;
	background-color:#80b0d7;
	
}

.gydex_delivery_action:hover, .gydex_delivery_action1:hover{
	background-color:#e9510e;
}



.gydex_delivery_back, .gydex_delivery_next, .gydex_delivery_link{
	 font-size: 14px;
	 color:white !important;
	 padding: 14px;
		
}
.gydex_delivery_back, .gydex_delivery_next{
	 background-color:#115fa7;
}
.gydex_delivery_links{
	margin:0 auto;
	 
	display:block;
	width:700px;
}
.gydex_delivery_back{
	display:block;
	float:left;

}
.gydex_delivery_next{
	display:block;
	float:right;
}

.gydex_delivery_link{
	 
	display:inline-block;
	
}
.gydex_delivery_active{
	/*font-weight:bold;*/
	color:white;
	background-color:#e9510e;
}

.go, .nogo{
	display:inline-block;
	width:32px; height:32px; background-image:url(/img/newdis/go-nogo.jpg);
	background-repeat:no-repeat;
}
.go{background-position:left top;}
.nogo{background-position:-32px top;}

.gydex_copy{
	
	display:inline-block;
	width:25px; height:25px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url(/img/newdis/copy.png);	
 
	 
}

.gydex_template{
	display:block;
	float:left;
	width:150px; height:150px;
	background-image:url(/img/newdis/template-f.png); background-position:left top; background-repeat:no-repeat;
	
}
.gydex_template:hover{
	background-position:left -150px;	
}