@font-face {
	  font-family: IstokWeb; /* имя шрифта для CSS правил */
	  src: local("Istok Web"), /* проверяем наличие шрифта в ОС пользователя */
	   url(/fonts/IstokWeb-Regular.eot) format('embedded-opentype'),
	   url(/fonts/IstokWeb-Regular.ttf) format('truetype'); /* если шрифт не установлен, тогда загружаем его по указанному пути */
	   font-style:normal;
	   font-weight:normal;
}

@font-face {
	  font-family: IstokWeb;  
	  src: local("Istok Web Bold"),  
	   url(/fonts/IstokWeb-Bold.eot) format('embedded-opentype'),
	   url(/fonts/IstokWeb-Bold.ttf) format('truetype');  
	   font-style:normal;
	   font-weight:bold;
}

@font-face {
	  font-family: IstokWeb;  
	  src: local("Istok Web Italic"),
	  url(/fonts/IstokWeb-Italic.eot) format('embedded-opentype'),  
	   url(/fonts/IstokWeb-Italic.ttf) format('truetype'); 
	   font-style:italic;
	   font-weight:normal;
}

@font-face {
	  font-family: IstokWeb;  
	  src: local("Istok Web BoldItalic"), 
	  url(/fonts/IstokWeb-BoldItalic.eot) format('embedded-opentype'), 
	   url(/fonts/IstokWeb-BoldItalic.ttf) format('truetype');  
	   font-style:italic;
	   font-weight:bold;
}




body{
	background-image:url(/images/f.jpg);
	background-position:left top;
	background-repeat:repeat-x;
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
	
}
body, p, td, input, label, textarea, select, option{
	font-family:IstokWeb, Tahoma, Geneva, sans-serif;
	font-size:18px;
	color:#959595;
}
h1, h2, h3, h4, h5, h6{
	color:#464646;
	text-align:center;
}
h1,h2{font-size:42px;}
h2{margin-bottom:0px;}

a, a:link, a:visited, a:hover{
	color:#8e97ac;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
img{border:none;}




#wrapper{
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	min-width:1300px !important;
	 
	 
}

#header{
	 
	width:1000px;
	margin:0px auto;
	font-size:15px;		
}

.line{
	display:block;
	float:left;
	width:1px;
	height:23px;
	background-image:url(/images/lines.png);
	background-position:left center;
	background-repeat:no-repeat;
}

#header_contacts{
	
	float:left;
	min-width:550px;
	padding-top:15px;
	color:#62a2d4;
	
	
}
#header_contacts a{ color:#62a2d4; }

#header_contacts .mail, #header_contacts .phone, #header_contacts .call{
	display:block;
	float:left;
	background-image:url(/images/mail.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:25px; padding-right:15px;
}

#header_contacts .phone{
	margin-left:15px;
	background-image:url(/images/phone.png);
	 
}
#header_contacts .call{
	background:none;
	color:#105fa6;
	padding-left:15px; 
}

#header_login{
	
	float:right;
	width:315px; min-height:65px;
	padding-top:15px; padding-left:115px;
	background-image:url(/images/f-header-login.jpg);
	background-position:right top;
	background-repeat:no-repeat;
	color:white;
}
#header_login a{ color:white; }
#header_login .login{
	display:block;
	float:left;
	padding-left:25px; padding-right:30px;
	 
	background-image:url(/images/login.png);
	background-position:left center;
	background-repeat:no-repeat;
}

#header_login .register{
	display:block;
	float:left;
	margin-left:20px;
	padding-left:20px; padding-right:30px;
	background-image:url(/images/user.png);
	background-position:left center;
	background-repeat:no-repeat;
	
}


#header_logo{
	 
	display:block;
	float:left;
	width:284px;
	height:85px;
}

#header_menu{
	 
	display:block;
	float:right;
	 
}






/* Slider styles*/

#slider-wrapper{
	min-width:1300px !important;
	height:500px;
	 
	background-image:url(/images/slider.jpg);
	background-color:#2963a5;
	background-position:center top;
	background-repeat:no-repeat;
}


#slider{
	margin:0px auto; 
	width:1300px;
	height:500px;
	/*border:1px solid red;*/
	
	z-index:100 !important;
}

.slide{
	/*border:1px solid green;*/
	width:1300px !important;
	height:500px;
 	overflow:hidden;
	z-index:0 !important;
	margin:0px 0px;
}

.slide1{
	width:1300px !important;
	background-image:url(/images/slide1.png);
	background-position:30px top;
	background-repeat:no-repeat;
	z-index:0 !important;
}

.inslide1, .inslide2, .inslide3, .inslide_button{
	display:block;
	margin-left:720px;
	color:white;
}
.inslide1{
	margin-top:100px;
	width:420px;
	font-weight:bold;
	font-size:44px;
	line-height:55px;
}
.inslide2{
	margin-top:25px;
	width:420px;
	 
	font-size:36px; 
	line-height:44px;
}
.inslide_button{
	width:306px; height:53px;
	background-image:url(/images/button.png);
	background-repeat:no-repeat;
	padding-top:15px;
	padding-left:30px;
	margin-top:35px;
	font-weight:bold;
	font-size:18px;
	color:white !important;
	text-transform:uppercase;
}
	

.custom-pager{
	
 	position:relative;
	
	 margin-left:150px;
	 margin-top:-40px;
	 overflow:hidden;  
	 z-index:2000 !important;
	
}
 

 
a.custom-pager-button{
	/*сюда вписать шаблон неактивной кнопки*/
	
	 display:block;
	float:left;
	margin-right:15px;
	width:15px;
	height:15px;
	overflow:hidden;
	background-image:url(/images/sl-ina.png);
	background-position:center center;
	background-repeat:no-repeat;
	cursor: pointer; 
	 z-index:2000 !important;
}
.custom-pager span.custom-pager-active { /*сюда вписать шаблон активной кнопки*/  z-index:2000 !important;}

.custom-pager a.cycle-pager-active{ /*сюда вписать шаблон активной кнопки*/
	 background-image:url(/images/sl-a.png) !important;
	 cursor: pointer; 
	 z-index:2000 !important;
}
.custom-pager > * { cursor: pointer;}


.cycle-prev, .cycle-next { position: absolute; top: 250px; width: 60px; height: 60px;   z-index: 2000 !important;  cursor: pointer; }
.cycle-prev { left: 0;  background: url(/images/arrow-l.png) left top no-repeat;}
.cycle-next { right: 0; background: url(/images/arrow-r.png) left top no-repeat;}
.disabled { opacity: .5; filter:alpha(opacity=50); }











/*icons menu*/
#icontest{
	width:1000px;
	margin:0px auto;
	 
}

#icontest div.icon0, #icontest div.icon1, #icontest div.icon2, #icontest div.icon3, #icontest div.icon4{
	float:left;
	width:200px;
	height:220px;
	
	color:white;
	background-color:#e9510f;
	
	
	
	 
}
#icontest div.icon1{
	background-color:#62a2d4;	
}
#icontest div.icon2{
	background-color:#398fcd;	
}
#icontest div.icon3{
	background-color:#105fa6;
}
#icontest div.icon4{
	background-color:#113e69;	
}

#icontest a.icon0, #icontest a.icon1, #icontest a.icon2, #icontest a.icon3, #icontest a.icon4{
	display:block;
	margin-left:20px; margin-top:20px;
	color:white;
	font-size:18px;
	line-height:25px;
	padding-top:110px;
	width:160px;
	background-image:url(/images/icon-ind.png);
	background-position:5px 20px;
	background-repeat:no-repeat;
	 
	
	 
}
#icontest a.icon1{
	background-image:url(/images/icon-deal.png);
}
#icontest a.icon2{
	background-image:url(/images/icon-es.png);
}
#icontest a.icon3{
	background-image:url(/images/icon-ip.png);
}

#icontest a.icon4{
	background-image:url(/images/icon-service1.png);	
}

#icontest a.iconmore{
	display:block;
	 
	margin-left:100px; margin-top:10px; margin-right:15px;
	
	font-size:12.5px;
	color:white;
	opacity:0.5;
	
	background-image:url(/images/icon-more.png);
	background-position:right 5px;
	background-repeat:no-repeat;
}

.icontest_text{
	padding:40px 0px;	
}

.icontest_descr{
	 
	float:left;
	width:805px;
	color:#595f6f;
	font-size:24px;
	line-height:24px;
}
.icontest_button{
	 
	display:block;
	float:right;
	width:155px; height:40px;
	padding-top:17px;
	padding-left:20px;
	
	background-image:url(/images/ic-buttom.png);
	background-repeat:no-repeat;
	
	 
	font-weight:bold;
	font-size:14px;
	color:white !important;
	text-transform:uppercase;
}





/*benefits*/
#benefits{
	background-color:#fafafa;
	height:470px;
	overflow:hidden;
	background-image:url(/images/world.png);
	background-position:center top;
	background-repeat:no-repeat;
	
	
}
#benefits-inner{
	width:1000px;
	margin:0px auto;
	
}

#benefits h2{text-align:center; margin-bottom:10px;}

#benefits .benefits_block0, #benefits .benefits_block1, #benefits .benefits_block2, #benefits .benefits_block3{
	
	float:left;
	padding:0 20px;
	text-align:center;
	width:210px;
	margin-top:50px;
	font-size:14px;
	color:#959595;	
}

#benefits a.ben_title{
	 
	display:block;
	color:#464646;
	font-size:21px;
	line-height:24px;
	padding-top:80px;
	margin-bottom:18px;
	background-repeat:no-repeat;
	background-position:center top;
}

#benefits a.ben_more{
	display:block;
	margin-top:10px;
	color:#c2c2c2;
	 
	background-image:url(/images/ben-more.png);
	background-position:160px 6px;
	background-repeat:no-repeat;
}

#benefits .benefits_block0:hover, #benefits .benefits_block1:hover, #benefits .benefits_block2:hover, #benefits .benefits_block3:hover{
	color:#464646;
}

#benefits .benefits_block0:hover a, #benefits .benefits_block1:hover a, #benefits .benefits_block2:hover a, #benefits .benefits_block3:hover a{
	color:#e9510f;
	text-decoration:none;	
}
#benefits .benefits_block0:hover a.ben_more, #benefits .benefits_block1:hover a.ben_more, #benefits .benefits_block2:hover a.ben_more, #benefits .benefits_block3:hover a.ben_more{
	background-image:url(/images/be-more-hover.png);
}

#benefits .benefits_block0 a.ben_title{
	background-image:url(/images/ico-ind.png);	
}
#benefits .benefits_block0:hover a.ben_title{
	background-image:url(/images/ico-ind-hover.png);
}

#benefits .benefits_block1 a.ben_title{
	background-image:url(/images/247.png);	
}
#benefits .benefits_block1:hover a.ben_title{
	background-image:url(/images/247-hover.png);
}

#benefits .benefits_block2 a.ben_title{
	background-image:url(/images/0rub.png);	
}
#benefits .benefits_block2:hover a.ben_title{
	background-image:url(/images/0rub-hover.png);
}

#benefits .benefits_block3 a.ben_title{
	background-image:url(/images/service.png);	
}
#benefits .benefits_block3:hover a.ben_title{
	background-image:url(/images/service-hover.png);
}





/*clients opinion block*/
#clients_opinion{
	height:270px;
	overflow:hidden;
	background-color:#368ccb;
}

#clients_opinion_inner{
	width:1000px;
	margin:0 auto;
	height:270px;
	overflow:hidden;
	 
}

.slide_clients_opinion{
	position:absolute;
}
.slide_clients_opinion h3, .slide_clients_opinion h2{
	text-align:center;
	color:white;
	font-size:40px;
	margin-top:30px; margin-bottom:30px;
}
.slide_clients_opinion .opinion{
	color:white; font-size:22px;  
	padding-left:80px;
	background-image:url(/images/quote.png);
	background-repeat:no-repeat;
	background-position:35px 7px;	
}
 .slide_clients_opinion .opinion p{color:white; font-size:22px;  
 }
 
.slide_clients_opinion .sign{
	padding-left:80px;
	color:#e9510f;
	font-size:13px;
}
.slide_clients_opinion .sign p{
	color:#e9510f;
	font-size:13px;
}

.co-pager{
	
 	position:absolute;
	
	 left:440px;
	 top:230px;
	 overflow:hidden;  
	 z-index:2000 !important;
	
}
 

 
a.co-pager-button{
	/*сюда вписать шаблон неактивной кнопки*/
	
	 display:block;
	float:left;
	margin-right:10px;
	width:15px;
	height:15px;
	overflow:hidden;
	background-image:url(/images/co-ina.png);
	background-position:center center;
	background-repeat:no-repeat;
	cursor: pointer; 
	 z-index:2000 !important;
}
.co-pager span.custom-pager-active { /*сюда вписать шаблон активной кнопки*/  z-index:2000 !important;}

.co-pager a.cycle-pager-active{ /*сюда вписать шаблон активной кнопки*/
	 background-image:url(/images/co-a.png) !important;
	 cursor: pointer; 
	 z-index:2000 !important;
}
.co-pager > * { cursor: pointer;}




/*how it works tree*/
#how_works{
	/*min-height:630px;*/
	
}

#how_works_inner{
	width:1000px;
	margin:0 auto;
	text-align:center;
}

/*контейнер таймлайна*/
.timeline {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
}
.timeline::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.timeline {
  position: relative;
  padding: 0 0;
  margin-top: 0em;
  margin-bottom: 0em;
}
.timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 6px;
  background: #d0d2d9;
   left: 50%;
    margin-left: -2px;
	
	z-index:100px !important;
}

/*общий блок таймлайна*/
.timeline-block {
  position: relative;
  z-index:1000px !important;
  
}
.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-block:first-child {
  margin-top: 0;
 
}
.timeline-block:last-child {
  margin-bottom: 40px;
  
}


/*правый-левый блоки таймлайна*/
.timeline-content, .timeline-content-a {
  position: relative;
  
  
  
  width: 515px;
  margin-top:20px;
  
  background-image:url(/images/how-left.png);
	background-repeat:no-repeat;
	background-position:right top; 
  
  
  /*border:1px solid black;*/
}
.timeline-content-a{
	background-image:url(/images/how-left-a.png);
}

.timeline-content:hover, .timeline-content-a:hover{
	background-image:url(/images/how-left-hover.png);
}

/*первый блок таймлайна*/
div.timeline-block:first-child div.timeline-content:first-child, div.timeline-block:first-child div.timeline-content-a:first-child{
	  background-image:url(/images/how-f1.png);
}
 div.timeline-block:first-child div.timeline-content-a:first-child{
	  background-image:url(/images/how-f1-a.png);
}

div.timeline-block:first-child div.timeline-content:first-child:hover, div.timeline-block:first-child div.timeline-content-a:first-child:hover{
	  background-image:url(/images/how-f1-hover.png);
}
.timeline-content:after, .timeline-content-a:after {
  content: "";
  display: table;
  clear: both;
}
 
.timeline-content::before, .timeline-content-a::before {
  content: '';
  position: absolute;
  
  right: 100%;
  height: 0;
  width: 0;
  left: 100%;
  

}
 
/*ПРАВЫЙ блок таймлайна*/ 
.timeline-block:nth-child(even) .timeline-content, .timeline-block:nth-child(even) .timeline-content-a {
  float: right;
  margin-left:5px;
 
  background-position:1px top; 
  background-image:url(/images/how-right.png);
  
   /*border:1px solid green;*/
  
}
.timeline-block:nth-child(even) .timeline-content-a {
	background-image:url(/images/how-right-a.png);
}
.timeline-block:nth-child(even) .timeline-content:hover, .timeline-block:nth-child(even) .timeline-content-a:hover{
background-image:url(/images/how-right-hover.png);	
}
.timeline-block:nth-child(even) .timeline-content::before, .timeline-block:nth-child(even) .timeline-content-a::before {
  
  left: auto;
  right: 100%; 
 
}

 
/* ссылочно - цветовой блок внутри таймлайна */ 
.timeline-content .timeline-heading,  .timeline-content-a .timeline-heading{
	cursor:pointer;
	background-color:#62a2d4;
	background-image:url(/images/how-down.png);
	background-repeat:no-repeat;
	background-position:415px center;
	font-size:20px;
	margin-right:50px;
	padding:5px 0px;
	min-height:37px;
		
}
/*правая колонка*/
.timeline-block:nth-child(even) .timeline-content .timeline-heading, .timeline-block:nth-child(even)  .timeline-content-a .timeline-heading{
	margin-right:0px;
	margin-left:50px;
}
.timeline-content:hover .timeline-heading, .timeline-content-a:hover .timeline-heading{
	background-color:#1e6fb3;	
}

.timeline-content-a .timeline-heading{
	background-color:#e9510f;
	background-image:url(/images/how-up.png);
}
.timeline-block h3{
	font-weight:normal;
	font-size:20px;
	color:white;
	margin-top:0px; margin-bottom:0px;
	padding-top:5px;
	background-image:url(/images/how-1.png);
	background-repeat:no-repeat;
	background-position:40px 3px;
}
.timeline-block h3.how_2{background-image:url(/images/how-2.png);}
.timeline-block h3.how_3{background-image:url(/images/how-3.png);}
.timeline-block h3.how_4{background-image:url(/images/how-4.png);}
.timeline-block h3.how_5{background-image:url(/images/how-5.png);}
.timeline-block h3.how_6{background-image:url(/images/how-6.png);}

/*контейнер для текста к этапу*/
.timeline-content .timeline-text{
	display:none;	
}

.timeline-content-a .timeline-text, .timeline-block:nth-child(even) .timeline-content-a .timeline-text{
	display:block;
	background-color:#f4f4f4;
	padding:30px 40px 20px 40px;
	margin-right:50px;
	text-align:left;
	color:#8c8c8c;
	font-size:14px;
}
/*текст в правой колонке*/
.timeline-block:nth-child(even) .timeline-content-a .timeline-text{
	margin-right:0px;
	margin-left:50px;
	
}
.timeline-text .big{
	color:#555555;
	font-size:20px;
	line-height:20px;
	margin-bottom:10px;
}
.timeline-text a{
	margin-top:10px;
	color:#d0d2d9;
	font-size:13px;
	display:block;
	width:105px;
	background-image:url(/images/how-more.png);
	background-position:right 5px;
	background-repeat:no-repeat;
}

#how_tel{
	text-align:center;
	margin-bottom:70px;
	background-image:url(/images/how-tel.png);
	background-position:center top;
	background-repeat:repeat-x;
	color:white;
	font-size:16px;
	text-transform:uppercase;
	width:170px;
	height:60px;
	padding-top:10px;
	margin-left:415px;
		
}
 







/*GYDEX in numbers*/
#numbers{
	height:475px;
	overflow:hidden;
	background-color:#388ecc;
	background-image:url(/images/numbers-f.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	 
}
#numbers_inner{
	width:1100px;
	margin:0 auto;
	height:475px;
	 
	color:white;
}

#numbers_inner h2{ color:white; font-size:40px; margin-bottom:0px;}
#numbers_inner .descr{
	text-align:center;
	font-size:18px;
}
	
#numbers_slider_wrapper{
	position:absolute;
	width:1100px;
	 
}
#numbers_slider{
	width:1000px !important;
	margin:0 auto;
	 
	 
}
#numbers_inner .numbers_block{
	display:block;
	float:left;
	width:250px;
	height:350px;
	text-align:center;
	 
}


#numbers_inner .numbers_block .number0, #numbers_inner .numbers_block .number1, #numbers_inner .numbers_block .number2, #numbers_inner .numbers_block .number3{
	 
	font-weight:bold;
	font-size:45px;
	padding-top:75px; padding-bottom:60px;
	background-image:url(/images/cir0.png);
	background-repeat:no-repeat;
	background-position: 42px 30px;
	
	 
	height:70px;
	line-height:40px;
	 
	 
	overflow:hidden; 
	 
	
}
#numbers_inner .numbers_block .number1{
	background-image:url(/images/cir1.png);
}
#numbers_inner .numbers_block .number2{
	background-image:url(/images/cir2.png);
}
#numbers_inner .numbers_block .number3{
	background-image:url(/images/cir3.png);
}
#numbers_inner .numbers_block .descr{
	text-transform:uppercase;
	font-size:24px;
	font-weight:bold;
	color:#e7f0ee;
	white-space:normal !important;
}


.num-cycle-prev, .num-cycle-next { position: absolute; top: 140px; width: 60px; height: 60px;   z-index: 2000 !important;  cursor: pointer;  }
.num-cycle-prev { left: 0;  background: url(/images/arrow-l.png) left top no-repeat;}
.num-cycle-next { right: 0; background: url(/images/arrow-r.png) left top no-repeat;}




#our_clients{
	height:390px;
	overflow:hidden;	
}
#our_clients_inner{
	width:1000px;
	margin:0 auto;
	height:390px;
	
}

#our_clients_slider{
	/*border:1px solid red;*/
	width:1000px;
	height:200px;
}


.oc-pager{
	
 	 margin-left:400px;
	 margin-top:00px;
	 overflow:hidden;  
	 z-index:2000 !important;
	
}
 
a.oc-pager-button{
	/*сюда вписать шаблон неактивной кнопки*/
	
	 display:block;
	float:left;
	margin-right:10px;
	width:15px;
	height:15px;
	overflow:hidden;
	background-image:url(/images/co-ina.png);
	background-position:center center;
	background-repeat:no-repeat;
	cursor: pointer; 
	 z-index:2000 !important;
}
.oc-pager span.custom-pager-active { /*сюда вписать шаблон активной кнопки*/  z-index:2000 !important;}

.oc-pager a.cycle-pager-active{ /*сюда вписать шаблон активной кнопки*/
	 background-image:url(/images/co-a.png) !important;
	 cursor: pointer; 
	 z-index:2000 !important;
}
.oc-pager > * { cursor: pointer;}













#footer{
	height:446px;
	background-color:#62a2d4;
	background-image:url(/images/footer-f.png);
	background-position:left top;
	background-repeat:repeat-x;
	overflow:hidden;
	 
}

#footer_menu{
	width:1000px;
	height:367px;
	overflow:hidden;
	margin:0 auto;
	
	color:#959595;
	font-size:14px;
	
	/*border: 1px solid blue;*/
}

#footer_menu ul{
	margin-top:90px;
	padding-left:0px;
}
 
#footer_menu ul li{ 
display:block; float:left; 
padding-left:35px;
width:175px;
margin-right:40px;
/*border:1px solid green;*/
}
#footer_menu ul:fisrt-child{
	margin-right:0px;
}

#footer_menu ul li, #footer_menu ul li a{
	color:#898989;
	font-weight:bold;
	font-size:24px; 
}
#footer_menu ul li:hover, #footer_menu ul li a:hover{
	color:#e9510f;
	text-decoration:none;
	
}
#footer_menu ul li ul{
	margin-top:0px;
	margin-left:0px;
	padding-left:0px;
}


#footer_menu ul li ul li{ 
list-style:none; 
float:none;  

margin-left:-35px;
font-size:14px;
font-weight:bold;
background-image:url(/images/footer-arrow.png);
background-position:3px 15px;
background-repeat:no-repeat;

/*border:1px solid red;*/
}
#footer_menu ul li ul li:hover{
	background-image:url(/images/footer-arrow-hover.png);
	background-position:3px 15px;
	background-repeat:no-repeat;
}
 
#footer_menu ul li ul li a{ 
display:block; 
font-size:14px;
font-weight:bold;
padding-top:7px;
padding-bottom:7px;

/*border:1px solid blue;*/
border-bottom:1px solid #2b2a2a;
}

#footer_menu ul li ul :last-child a{ 
border-bottom:none;
}


/*исключения для блоков контактов*/

#footer_menu ul :last-child ul li, #footer_menu ul :last-child ul li:hover{
	background:none;
}
#footer_menu ul :last-child ul li a{display:inline;}

#footer_menu ul li ul li div{ 
display:block; 
font-size:14px;
font-weight:bold;
padding-top:7px;
padding-bottom:7px;

/*border:1px solid blue;*/
}
#footer_menu ul li ul li.address, #footer_menu ul li ul li.address:hover{
	background-image:url(/images/icon-location.png);
	background-position:3px 10px;
	background-repeat:no-repeat;
}
#footer_menu ul li ul li.phone, #footer_menu ul li ul li.phone:hover{
	background-image:url(/images/icon-phone.png);
	background-position:3px 10px;
	background-repeat:no-repeat;
}


#footer_menu ul li ul li.email, #footer_menu ul li ul li.email:hover{
	background-image:url(/images/icon-email.png);
	background-position:3px 10px;
	background-repeat:no-repeat;
}

#footer_menu .soc{
	
	display:block;
	float:left;
	margin-top:10px;	
	margin-right:15px;
	/*border:1px solid red;*/
}
	

#copyrights{
	width:1170px;

	color:#d9ede4;
	font-size:13px;
	margin:30px auto;
	 
		
}
#copyrights a{color:#d9ede4;}

#copyrights .col1{
	float:left;
	padding-right:12px;
	border-right:1px solid	#d9ede4;
	margin-left:10px;
}
#copyrights div.colleft :last-child{
	border-right:none !important;
}
#copyrights div.colleft :first-child{
	margin-left:0px !important;
}

#copyrights .col2{
	float:right;
	padding-right:12px;
	border-right:1px solid	#d9ede4;
	margin-left:10px;
}

#copyrights div.colright :first-child{
	border-right:none !important;
	padding-right:0px;
}





.clr{
	clear:both;
	height:0px;
}











/*всплывающие окна*/
#popup_login1.hidden, #popup_serv.hidden, #popup_login.hidden{
	display:none;	
}

#popup_login1.shown, #popup_serv.shown, #popup_login.shown{
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	height: 3047px;
	
	overflow:hidden;
	z-index:5000;	
}
#popup_login_window1.hidden, #popup_serv_window.hidden, #popup_login_window.hidden{
	display:none;	
}

#popup_window.shown, #popup_serv_window.shown{
	
	width:700px;
	height:550px;
	
	z-index:10000;
	background-color:#f8f8fa;
	background-image:url(/img/win-bg.jpg);
	background-repeat:repeat-x;
	position:absolute;
	left:350px;
	top:110px;
	
	padding:10px 30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
}
#popup_login_window.shown, #popup_login_window1.shown{
	
	width:350px;
	height:350px;
	
	z-index:10000;
	background-color:#f8f8fa;
	background-image:url(/img/win-bg.jpg);
	background-repeat:repeat-x;
	position:absolute;
	left:350px;
	top:110px;
	font-size:14px;
	
	padding:10px 30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
}
#services_inner{
	width:370px;
	height:290px;
	overflow:auto;
}
#popup_window h2, #popup_serv_window h2, #popup_login_window h2{
	float:left;
}
#popup_login_window h2, #popup_login_window1 h2{
	font-size:18px; text-align:left;
}
#popup_login_window h3, #popup_login_window1 h3{
	font-size:14px; text-align:left; margin-bottom:0px; 	float:left;
}
a.close, a.close_serv,  a.close_login, a.close_login1{
	background-image:url(/img/close_popup.png);
	background-repeat:no-repeat;
	background-position:left top;
	display:block;
	float:right;
	margin-top:15px;
	
	
	width:15px;
	height:15px;
}
.wrong{
	font-weight:bold;
	color:red;
}







/*page styles*/
#page_slider-wrapper{
	background-image:url(/images/slider.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	
	background-color:#2963a5;
	
}
#page_slider-wrapper #page_slider{
	width:1000px !important; 
	min-height:110px;
	margin:0px auto;
	
	color:white;
	 
	
}
#page_slider .heading{
	float:left;
	margin-top:25px;
	font-size:42px;
	font-weight:bold;
	
}

#page_slider .navi{
	float:right;
	margin-right:30px;
	color:white;
	font-size:14px;
	margin-top:45px;
}
#page_slider .navi a{ color:white;}
.navitxt{ overflow:hidden;}
.navilink{float:left; margin-right:20px;}


#page_text{
	width:1000px;
	margin:0px auto;
	font-size:14px;
	color:#464646;
	overflow:hidden;
	margin-top:60px;
}
#page_text p{
	font-size:14px;
	color:#464646;	
	
}
#page_text h1, #page_text h2, #page_text h3{
	font-size:26px;
	color:#105fa6;
	font-weight:normal;
	text-align:left;
	margin-top:0px; 
}
#page_text h2{
	font-size:18px;
}
#page_text h3{
	font-size:16px;
}
.img_preview{
	float:left; margin-right:10px; width:315px; height:200px;
	border:1px solid #efefef;
}


/*двухколоночный блок */
#page_text2{
	width:1000px;
	margin:0px auto;
	font-size:15px;
	color:#464646;
	overflow:hidden;
	margin-top:60px;
}
#page_text2 p{
	font-size:15px;
	color:#464646;	
	
}

#page_text2 h2{
	color:#464646;
	font-size:42px;
	font-weight:bold;
	text-align:left;
	margin-top:0px;
	margin-left:20px;
}
#page_text2 .col1{
	float:left;
	 width:315px;
	 padding-top:65px;
	 
	 
}
#page_text2 .col2{
	 
	 
		 float: left;
		 
		
		width: 685px;   
}
#page_text2 .col1 a.button{
	display:block;
	margin-bottom:20px;
	padding-top:18px;
	height:35px;
	width:215px;
	color:white;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	background-color:#e9510f;
	background-image:url(/images/button-fon.png);
	background-position:top left;
	background-repeat:repeat-x;
	
	text-align:center;
}
#page_text2 .col1 .connect{
	color:#105fa6;
	font-size:14px;
	text-transform:uppercase;	
}
#page_text2 .col2 #clients_opinion_inner{
	  
	 width:685px;
	height:135px;
	background-color:#62a2d4;
	 
}
#page_text2 .col2 .opinion{
	padding-left:50px;
	background-image:url(/images/quote-white.png);
	background-repeat:no-repeat;
	background-position:25px 5px;	

}
#page_text2 .col2 .opinion, #page_text2 .col2 .opinion p{
	color:white !important;
	font-size:18px;
	line-height:20px;
	 
	width:650px;
	 
}
#page_text2 .col2 .sign{padding-left:40px;}

#page_text2 .col2 .sign, #page_text2 .col2 .sign p{
	color:#c2c2c2;
	font-size:13px;
	font-weight:bold;
	
}

/*list*/
#page_text2 ul, #page_text ul{ margin-top:20px;}
#page_text2 ul li, #page_text ul li{
	list-style:none;
	margin-bottom:10px;
	background-image:url(/images/li_arrow.png);
	background-position:left 5px;
	background-repeat:no-repeat;
	padding-top:7px; padding-left:35px;
}


/*протестируйте Вашу */
#page_text3{
	width:1000px;
	margin:0px auto;	
}
#page_text3 h2{ color:#464646; font-size:42px; font-weight:normal;}
#page_text3 a.button{
	width:500px;
	display:block;
	margin-top:40px;
	margin-bottom:20px;
	padding-top:18px;
	height:35px;
 
	color:white;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	background-color:#e9510f;
	background-image:url(/images/button-fon.png);
	background-position:top left;
	background-repeat:repeat-x;
	
	text-align:center;	
}

/*последние новости на странице*/
#recent_news{
	width:1000px;
	margin:0px auto;
	padding-top:30px;
}
#recent_news h2{ text-align:left;  color:#464646; font-size:42px; float:left; display:block; margin:0 0; padding-left:320px; }
#recent_news_slider{
	width:1000px;
	height:402px;
	overflow:hidden;
	margin-bottom:20px;
}

#recent_news_slider .recent_news_slide{
	width:315px;
	height:400px;
	overflow:hidden;
	border:1px solid #ededed;
	margin-right:25px;	
	position:absolute;
}
/* кнопки перехода к файлам, галерее*/
#recent_news_slider .recent_news_slide .news_controls{
	position:absolute;
	  top:1px;
	overflow:hidden;
	z-index:3000 !important;
	
	 
}

.rn-controls{
	margin-top:20px; margin-bottom:0px; padding-bottom:0px;
	 
	float:right;
	overflow:hidden;
}
.recent-news-cycle-prev, .recent-news-cycle-next {   width: 22px; height: 22px;   z-index: 2000 !important;  cursor: pointer;   float:right; }
.recent-news-cycle-prev {    background: url(/images/rn-left.png) left top no-repeat; margin-right:10px;}
.recent-news-cycle-next {  background: url(/images/rn-right.png) left top no-repeat;}
.rn-controls .disabled { opacity: .5; filter:alpha(opacity=50); }



#recent_news_slider .news_controls a{display:block; float:left; margin-right:2px;}
.news_preview{
	width:315px;
	height:200px;
	overflow:hidden;
	 
}
/*слайдер внутри блока новости*/
.news_preview_slider{ z-index:200 !important; position:relative; }
.news_preview_slide{
	width:315px;
	height:200px;
	background-repeat:no-repeat;
	background-position:center center;
	z-index:200 !important;
	 
}

.npc-pager{
	 position:absolute; top: 150px; left:100px; 
	 
 	 
	 margin-top:00px;
	 overflow:hidden;  
	 z-index:2000 !important;
	 
}
 
a.npc-pager-button{
	/*сюда вписать шаблон неактивной кнопки*/
	 
	 display:block;
	float:left;
	margin-right:10px;
	width:15px;
	height:15px;
	overflow:hidden;
	background-image:url(/images/co-ina.png);
	background-position:center center;
	background-repeat:no-repeat;
	cursor: pointer; 
	 z-index:2000 !important;
	 opacity:0.7;
}
.npc-pager span.cycle-pager-active{ /*сюда вписать шаблон активной кнопки*/  z-index:2000 !important;}

.npc-pager a.cycle-pager-active{ /*сюда вписать шаблон активной кнопки*/
	 background-image:url(/images/co-a.png) !important;
	 cursor: pointer; 
	 z-index:2000 !important;
}
.npc-pager > * { cursor: pointer;}

/*комментариев, дата новости*/
#recent_news_slider .news_meta{
	font-size:12px;
	color:#959595; background-color:#ededed;
	overflow:hidden;
}

#recent_news_slider .news_meta .news_meta_data{
	float:left;
	margin: 15px 7px 15px 15px;
	border-right:1px solid #959595;
	padding-right:15px;
}
#recent_news_slider .news_meta .news_meta_data:last-child{
	border-right:none;
}

#recent_news_slider .news_meta .news_meta_value{
	color:#105fa6;
}
#recent_news_slider .news_title{
	padding:10px 15px 0px 25px;
	white-space:normal;	
}
#recent_news_slider .news_title h3{
	display:inline; color:#464646;
	font-size:20px; font-weight:normal;	
}
#recent_news_slider .news_anons{
	padding:0px 10px 0px 25px;
	font-size:14px; color:#959595;
	white-space:normal;
	overflow:hidden;
	height:80px;  
}
#recent_news_slider .news_anons p{font-size:14px; color:#959595; margin-top:0px; margin-bottom:0px;}

#recent_news_slider  a.news_more{
	display:block;
	padding:00px 15px 10px 25px;
	width:90px;
	font-size:13px; color:#959595;
	background-image:url(/images/rn-more.png);
	background-position:right 5px;
	background-repeat:no-repeat;
}